<section class="stuff">
  <div class="content">
    <%= image_tag @artist.image.url %>
  </div>

  <div class="info">
      <table class="data">
        <tr>
          <td colSpan = "2"> <h4><%= @artist.name %> is...</h4> </td>
        </tr>
        <tr>
          <td colSpan = "2"> <p><%= @artist.bio %> </p> </td>
        </tr>
        <tr>
          <% if @artist.email.present? %>
            <td><p><%= mail_to 'Email', @artist.email %></p></td>
          <% end %>
          <% if @artist.website.present? %>
            <td><p><%= link_to 'Website', @artist.website, target: :_blank %></p></td>
          <% end %>
          <% if @artist.instagram.present? %>
            <td><p><%= link_to 'Instagram', @artist.instagram, target: :_blank %></p></td>
          <% end %>
          <% if @artist.twitter.present? %>
            <td><p><%= link_to 'twitter', @artist.twitter, target: :_blank %></p></td>
          <% end %>
    </table>
    <%= link_to "BACK TO ALL ARTISTS", artists_path%>
    </div>
</section>
