<section class="artist">
  <div class="content">
    <%= image_tag @artist.image.url %>
  </div>

  <div class="info">
      <table>
        <tr>
          <td colSpan = "2"> <h4><%= @artist.name %></h4> </td>
        </tr>
        <tr>
          <td colSpan = "2"> <p><%= @artist.bio %> </p> </td>
        </tr>
        <tr>
          <% if @artist.email.present? %>
            <td><p><%= mail_to 'Email', @artist.email %></p></td>
          <% end %>
          <% if @artist.website.present? %>
            <td><p><%= link_to 'Website', @artist.website, target: :_blank %></p></td>
          <% end %>
          <% if @artist.instagram.present? %>
            <td><p><%= link_to 'Instagram', @artist.instagram, target: :_blank %></p></td>
          <% end %>
          <% if @artist.twitter.present? %>
            <td><p><%= link_to 'twitter', @artist.twitter, target: :_blank %></p></td>
          <% end %>
          </tr>
          <tr class='navlinks'>
            <td colSpan = "2">
            <% if @prev %>
              <%= link_to "Previous", @prev %>
            <% else %>
              <%= link_to "Previous", '#', :class => "strike"%>
            <% end %>

            <%= link_to "All Artists", artists_path%>

            <% if @next %>
              <%= link_to "Next", @next %>
            <% else %>
              <%= link_to "Next", '#', :class => "strike" %>
            <% end %>
          </td>
        </tr>
        </table>
    </div>
</section>
