<section class="stuff">
  <div class="content">
    <%= image_tag @product.image_1.url %>

    <% if @product.image_2.present? %>
      <%= image_tag @product.image_2.url %>
    <% end %>

    <% if @product.image_3.present? %>
      <%= image_tag @product.image_3.url %>
    <% end %>

    <% if @product.image_4.present? %>
      <%= image_tag @product.image_4.url %>
    <% end %>

    <% if @product.image_5.present? %>
      <%= image_tag @product.image_5.url %>
    <% end %>
  </div>

  <div class="info">
      <table class="data">
      <tr>
        <td> <p> Title: </p> </td>
        <td> <h4><%= @product.title %> </h4> </td>
      </tr>
      <tr>
        <td> <p> Author: </p> </td>
        <td> <h4><%= @product.author %> </h4> </td>
      </tr>
      <tr>
        <td> <p> Description: </p> </td>
        <td> <h4><%= @product.description %> </h4> </td>
      </tr>
      <tr>
        <td> <p> Printing Method: </p> </td>
        <td> <h4><%= @product.printing_method %> </h4> </td>
      </tr>
      <tr>
        <td> <p> Price: </p> </td>
        <td> <h4><%= number_to_currency(@product.price, precision: 0) %> </h4> </td>
      </tr>
      <tr>
        <td> <p> Where to Buy: </p> </td>
        <td>
          <h4><%= link_to @product.location_1_name, @product.location_1_url, target: :_blank%></h4>

          <% if @product.location_2_name.present? & @product.location_2_name.present?%>
            <h4><%= link_to @product.location_2_name, @product.location_2_url, target: :_blank%></h4>
          <% end %>

          <% if @product.location_3_name.present? & @product.location_3_name.present?%>
            <h4><%= link_to @product.location_3_name, @product.location_3_url, target: :_blank%></h4>
          <% end %>

          <% if @product.location_4_name.present? & @product.location_4_name.present?%>
            <h4><%= link_to @product.location_4_name, @product.location_4_url, target: :_blank%></h4>
          <% end %>
          <% if @product.location_5_name.present? & @product.location_5_name.present?%>
            <h4><%= link_to @product.location_5_name, @product.location_5_url, target: :_blank%></h4>
          <% end %>
        </td>
      </tr>
    </table>
    <%= link_to "BACK TO ALL BOOKS", root_path%>
    </div>
</section>
