<!DOCTYPE html>
<html>
  <head>
    <title>Always Leave the First Page Blank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/bluu" type="text/css"/>
    <%= stylesheet_link_tag    'application', media: 'all'%>
  </head>

  <body>

    <header>
      <div>
        <%= link_to image_tag('search.png'), "#", class: "switch"%>
      </div>

      <h1> Always Leave The First Page Blank </h1>
      <div>
        <%= link_to image_tag('search.png'), "#", class: "search"%>
        <%= link_to image_tag('menu.png'), "#", class: "menu-button"%>
      </div>
    </header>
    <nav>
      <%= link_to 'Books', products_path %>
      <%= link_to 'Artists', artists_path %>
      <%= link_to 'About', about_path %>
    </nav>
    <%= yield %>
    <section class="split"></section>
    <%= javascript_include_tag 'application'%>
  </body>
</html>
